In [27]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
sb.set()

In [69]:
data = pd.read_csv('updated_movies.csv')
data.head()

      budget  runtime  Rating  Title Length  Month Release     revenue
0  237000000      162     7.2             6             12  2787965087
1  300000000      169     6.9            40              5   961000000
2  245000000      148     6.3             7             10   880674609
3  250000000      165     7.6            21              7  1084939099
4  260000000      132     6.1            11              3   284139100

In [75]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [76]:
m = data.iloc[:,:-1]

In [77]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [65]:
reg.predict(x_test)

array([ 2.73721493e+08,  7.09004289e+08,  1.24890749e+08,  2.18254706e+08,
        1.10627422e+08,  3.15572617e+08,  2.16405149e+08,  2.30825560e+08,
        6.60524107e+08,  3.18938767e+08,  2.01229934e+08,  2.40571239e+08,
        2.46599018e+08,  1.76497388e+08,  1.24298449e+08,  2.49829930e+08,
        1.50252520e+08,  1.50911553e+08,  2.01394888e+08,  6.16163222e+07,
        5.95486667e+07,  1.45792944e+08,  5.51593870e+08,  2.20476690e+08,
        4.26903647e+08,  4.64804273e+08,  7.04787600e+08,  2.85005021e+08,
        1.62434811e+08,  1.42555203e+08,  1.58475365e+08,  3.83720411e+08,
        1.40221293e+08,  2.90584785e+08,  5.38499828e+06,  2.74636930e+08,
        5.91527652e+08,  2.63915523e+08,  2.27025627e+08,  5.06567238e+08,
        1.32163697e+08,  2.15391269e+08,  6.81605065e+07,  6.49255731e+08,
        3.51988147e+08,  7.97499118e+07,  1.72314650e+08,  3.03638281e+08,
        5.94598054e+07,  2.38539895e+08,  4.08078673e+08,  4.13719498e+07,
       -1.11005191e+08,  3.12557817e+08,  2.77834087e+08,  2.93300421e+08,
        1.45871800e+08,  3.58249066e+08,  1.09682923e+08,  4.13094878e+07,
        1.95707151e+07,  1.55615156e+08,  4.76206574e+08,  1.15743519e+08,
        1.36232798e+08,  2.26985515e+08,  1.37970788e+08,  2.13531308e+08,
        3.23515548e+08,  1.86607498e+07,  2.37961913e+07,  3.54127330e+08,
        1.29221473e+08,  3.22310551e+08,  1.11341543e+08,  6.26731230e+07,
        1.35738351e+08,  2.98150149e+08,  2.79454935e+08, -3.40837571e+06,
        6.34565236e+07,  3.06342941e+08,  3.72770403e+08,  4.59647032e+08,
        2.77841608e+08,  4.32177840e+08,  2.08237192e+08,  3.56588764e+08,
        2.87117541e+08,  8.50046660e+07,  7.27209261e+07,  1.15085818e+08,
        1.81426712e+08,  1.30275856e+08,  3.82254487e+08,  2.51962541e+08,
        1.26931506e+08,  3.87599860e+07,  2.35696196e+08,  7.59247602e+08,
        4.25352407e+08,  1.41078139e+08,  2.48210618e+08,  2.29665844e+07,
       -4.22906522e+07,  2.59853031e+08,  4.09194136e+08,  3.84245979e+07,
        1.35743924e+08,  2.39126247e+08,  2.93500604e+08,  3.87247051e+08,
       -7.36592292e+06,  1.67718139e+08,  4.36474479e+08,  9.29600080e+07,
        3.61660189e+08,  1.77147581e+08,  1.00031730e+08,  1.68454079e+08,
        6.42354385e+08,  7.55897702e+07,  1.27064749e+08,  1.33927908e+08,
        3.46065187e+08,  6.93941442e+07,  4.26978178e+08,  2.71717890e+08,
        8.70658265e+07,  1.83438835e+08,  1.81236754e+08,  2.45886412e+08,
        1.68980673e+08,  4.50338366e+08,  9.37897936e+08,  1.19575918e+08,
        1.99477354e+08,  5.80547495e+08,  1.44695409e+08,  4.54738449e+08,
        3.04579844e+08,  2.68062480e+08,  2.38359648e+08,  3.84388067e+08,
        1.07525637e+08,  5.63148326e+08,  7.02899909e+08,  4.10756707e+08,
        6.49414340e+08,  1.33522820e+08,  1.84626709e+08,  1.56871710e+08,
        2.10837565e+08,  1.96235158e+08, -6.79355217e+07,  1.22159420e+08,
        5.60052988e+07,  4.32492336e+08,  2.12218999e+08,  4.28208592e+07,
        1.68467483e+08,  2.45588524e+08,  3.73108564e+08,  2.98481822e+08,
        9.97593544e+07,  4.39936631e+08,  9.20086758e+07,  1.07110623e+08,
        5.66865463e+08,  3.58863264e+08,  2.94569656e+08,  1.32391808e+08,
        2.29542370e+08,  1.26392225e+08,  2.89783972e+08,  5.14934022e+08,
       -1.02073952e+08,  1.16208179e+08,  5.28617617e+07,  3.05032030e+08,
        3.15606323e+08,  9.87691285e+07,  2.43147863e+08,  1.96962203e+08,
        2.80832044e+08,  2.78965561e+08,  9.96504855e+07,  1.98465612e+08,
        1.91065114e+08,  7.50548336e+08,  1.13225316e+08,  1.45797305e+08,
       -2.17645046e+08,  1.42505717e+08,  1.70342842e+08,  3.96153469e+08,
        1.80611338e+08,  3.95778422e+08,  2.84005033e+07,  1.61369117e+08])

In [66]:
reg.coef_

array([ 3.19302663e+00, -2.06535528e+05,  1.05739186e+08,  2.43049946e+06,
       -3.00822698e+06])

In [67]:
m.columns.values

array(['budget', 'runtime', 'Rating', 'Title Length', 'Month Release'],
      dtype=object)

In [68]:
Findings = pd.DataFrame()
Findings['Factors'] = m.columns.values
Findings['Coefficients'] = reg.coef_
Findings['Coefficients'] = Findings['Coefficients'].sort_values(ascending = False)
Findings

         Factors  Coefficients
0         budget  3.193027e+00
1        runtime -2.065355e+05
2         Rating  1.057392e+08
3   Title Length  2.430499e+06
4  Month Release -3.008227e+06

In [81]:
reg.score(x_train,y_train)

0.4997810261705449